.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ArticlesCard {
  border-style: solid;
  list-style-type: none;
}

.NavLink {
}

.CommentsCard {
  border: solid;
}

.VoteHandlerMain {
}

.AppHeader {
  position: fixed;
  padding-top: 0%;
  padding-bottom: 2%;
}

.HeaderImageSect {
  max-width: 100%;
  height: 10%;
}

.HeaderImage {
  width: 100%;
  max-height: 20rem;
}

/* styling below for phones (<500px)*/
@media screen and (max-width: 500px) {
  .HeaderImageSect {
    width: 100%;
    height: 10%;
    position: fixed;
    padding-bottom: 5;
  }

  .HeaderImage {
    height: 100px;
  }

  .NavTopics {
    position: fixed;

    width: 100%;
    height: 5%;
    padding-top: 5;
    margin-top: 28%;
  }

  .ArticlesPages {
    padding-top: 50%;
  }
  .SortBySect {
    position: fixed;
    border: solid;
    width: 100%;
    height: 5%;
    margin-top: 38%;
  }
}
