.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.ArticlesCard {
  border-style: solid;
  border-radius: 5px;
  list-style-type: none;
  background: linear-gradient(#000f0f, #61d7fb);
  padding-bottom: 2%;
  margin-top: 1%;
}

.ArticlesTitle {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}
.ArticleStats {
  color: white;
  font-weight: 300;
}

.ReadArticleLink {
  text-decoration: none;

  border: solid;
  border-color: black;
  border-radius: 5px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.212), black);
}

.ScrollLoadingMessage {
  font-weight: 900;
  color: #61d7fb;
}

.NavTopics {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;

  font-weight: 700;

  color: black;

  background-color: #61dafb;
}

.NavLink {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: black;
  border: solid;
  border-radius: 5px;
  margin-left: 3px;
}

.NavLink,
:visited {
  color: antiquewhite;
}

.CommentsCard {
  border: solid;
  border-color: #61d7fb;
  margin-bottom: 4px;
}
.CommentBody {
  background-color: #dac7b1;
}
.VoteHandlerMain {
}

.AppHeader {
  position: fixed;
  padding-top: 0%;
  padding-bottom: 2%;
}

.HeaderImageSect {
  max-width: 100%;
  height: 10%;
}

.HeaderImage {
  width: 100%;
  max-height: 20rem;
}

.SortButton {
  background-color: #61dafb;
}

.DeleteButton {
  background-image: url('../src/Images/delete.png');
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}

.SingleArticleText {
  border: solid;
  border-radius: 5px;
  border-color: #61d7fb;
  background-color: #dac7b1;
}

.SingleArticleCard {
}

.UpVoteButton {
  background-image: url('../src//Images/thumbs-up.png');
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}
.DownVoteButton {
  background-image: url('../src//Images/thumbs-down.png');
  background-size: 120%;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}

.CommentTextArea {
  border-radius: 5px;
  border-color: #61d7fb;
}
.CommentsCard {
  border-radius: 5px;
}

.SubmitButton {
  background-image: url('../src/Images/submit.png');
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}

/* styling below for phones (<500px)*/
@media screen and (max-width: 500px) {
  .HeaderImageSect {
    width: 100%;
    height: 10%;
    position: fixed;
    padding-bottom: 5;
  }

  .HeaderImage {
    height: 100px;
  }

  .NavTopics {
    position: fixed;

    width: 100%;

    padding-top: 5;
    margin-top: 26%;
  }
  .NavLink {
    line-height: 2.5;
    text-decoration: none;
    padding-right: 5%;
    padding-left: 2%;
  }

  .ArticlesPages {
    padding-top: 50%;
  }
  .SortBySect {
    position: fixed;

    width: 100%;
    height: 5%;
    margin-top: 36%;
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.973));
    color: white;
    line-height: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .SortButton {
    margin-left: 5%;
    border-radius: 25%;
  }
}

.SingleArticleCard {
  padding-top: 35%;
}
.CommentTextArea {
  margin-top: 5%;
  padding-right: 25%;
}

.SubmitButton {
}
