/* styling below for phones (<500px)*/
@media all and (max-width: 700px) {
  * {
    margin: 0;

    vertical-align: baseline;
  }
  .HeaderImageSect {
    width: 100%;
    height: 10%;
    position: fixed;
    padding-bottom: 5px;
  }

  .HeaderImage {
    height: 100px;
  }

  .NavTopics {
    position: fixed;

    width: 100%;

    padding-top: 5;
    margin-top: 104px;
  }
  .NavLink {
    line-height: 2.5;

    padding-right: 2%;
    padding-left: 2%;
  }

  .ArticlesPages {
    padding-top: 50%;
  }
  .SortBySect {
    position: fixed;

    width: 100%;
    height: 5%;
    margin-top: 148px;

    color: white;
    line-height: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .SortButton {
    margin-left: 5%;
  }

  .ArticlesCard {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-top: 4%;
    border-radius: 5%;
  }
  .SingleArticleTitle {
    padding-top: 150px;
  }
  .SingleArticleText {
    margin-top: 160px;
    padding-top: 5px;
    margin-top: 5px;
  }
  .CommentTextArea {
    margin-top: 5%;

    width: calc(100vw - 20px); /* calc and viewport to the rescue */
    height: calc(100vh - 700px);
    resize: none;
  }
}

/*styling below applies to all screen sizes above phone*/

.SubmitButton {
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.ArticlesCard {
  border-style: solid;
  border-radius: 5px;
  list-style-type: none;
  background: linear-gradient(rgba(0, 0, 0, 0.932), rgba(6, 197, 245, 0.705));
  padding-bottom: 2%;
}

.ArticlesTitle {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
}
.ArticleStats {
  color: white;
  font-weight: 300;
}

.ReadArticleLink {
  text-decoration: none;

  border: solid;
  border-color: black;
  border-radius: 5px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.212), black);
}

.ScrollLoadingMessage {
  font-weight: 900;
  color: #61d7fb;
}

.NavTopics {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;

  font-weight: 700;

  color: black;

  background-color: #61dafb;
}

.NavLink,
:visited {
  color: antiquewhite;
  border-style: groove;
  border-radius: 5px;
}
.SortBySect {
  background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.973));
}
.CommentsCard {
  border: solid;
  border-color: #61d7fb;
  margin-bottom: 4px;
}
.CommentBody {
  background-color: #dac7b1;
}
.VoteHandlerMain {
}

.AppHeader {
  position: fixed;
  padding-top: 0%;
}

.HeaderImageSect {
  max-width: 100%;
  height: 10%;
}

.HeaderImage {
  width: 100%;
  max-height: 20rem;
}

.SortButton {
  background-color: #61dafb;
  border-radius: 10%;
  border-color: black;
  border-style: groove;
}

.DeleteButton {
  background-image: url('../src/Images/delete.png');
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}

.SingleArticleText {
  border: solid;
  border-radius: 5px;
  border-color: #61d7fb;
  background-color: #dac7b1;
}

.UpVoteButton {
  background-image: url('../src//Images/thumbs-up.png');
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}
.DownVoteButton {
  background-image: url('../src//Images/thumbs-down.png');
  background-size: 120%;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}

.CommentTextArea {
  border-radius: 5px;
  border-color: #61d7fb;
}
.CommentsCard {
  border-radius: 5px;
}

.SubmitButton {
  background-image: url('../src/Images/submit.png');
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border-color: #61d7fb;
}

@media all and (min-width: 750px) {
  .ArticlesCard {
    display: inline-block;
    width: 45%;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  .SortBySect {
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.973));

    width: 100%;
    height: 20%;
    margin-top: 3px;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .SortButton {
    margin-left: 50px;
    height: 30px;
    width: 100px;
    font-size: 14px;
  }
  .NavLink {
    margin-left: 40px;
    padding: 5px;
    text-decoration: none;
  }
  .NavTopics {
    padding: 10px;
  }
  .CommentTextArea {
    margin-top: 5%;

    width: calc(100vw - 120px); /* calc and viewport to the rescue */
    height: calc(100vh - 700px);
    resize: none;
  }
}
